.DisplayH1 {
  font-family: "Tele2DisplaySerif-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 70px;
}
.DisplayH2 {
  font-family: "Tele2DisplaySerif-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 63px;
}
.DisplayH3 {
  font-family: "Tele2DisplaySerif-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 63px;
}
.DisplayH4 {
  font-family: "Tele2DisplaySerif-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 56px;
}
.DisplayH5 {
  font-family: "Tele2DisplaySerif-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 49px;
}
.DisplayH6 {
  font-family: "Tele2DisplaySerif-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 44px;
}
.DisplayP{
  font-family: "Tele2DisplaySerif-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 39px;
}
.DisplayStrong{
  font-family: "Tele2DisplaySerif-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 39px;
}
.DisplaySmall{
  font-family: "Tele2DisplaySerif-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}
.DisplayVerySmall{
  font-family: "Tele2DisplaySerif-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 31px;
}
@media screen and (max-width: 577.5px) {
  .DisplayH1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
  }
  .DisplayH2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 51px;
  }
  .DisplayH3 {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 45px;
  }
  .DisplayH4 {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 39px;
  }
  .DisplayH5 {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 37px;
  }
  .DisplayH6 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
  }
  .DisplayP{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 31px;
  }
  .DisplayStrong{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 31px;
  }
  .DisplaySmall{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }
  .DisplayVerySmall{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }
}
.TextH1{
  font-family: "Tele2TextSans-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 45px;
}
.TextH1B{
  font-family: "Tele2TextSans-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 45px;
}
.TextH2{
  font-family: "Tele2TextSans-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
}
.TextH3{
  font-family: "Tele2TextSans-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 39px;
}
.TextH4{
  font-family: "Tele2TextSans-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 37px;
}
.TextH5{
  font-family: "Tele2TextSans-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}
.TextH6{
  font-family: "Tele2TextSans-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 32px;
}
.TextP{
  font-family: "Tele2TextSans-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
}
.TextStrong{
  font-family: "Tele2TextSans-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
}
.TextSmall{
  font-family: "Tele2TextSans-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}
.TextVerySmall{
  font-family: "Tele2TextSans-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}
@media screen and (max-width: 577.5px) {
  .TextH1{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
  }
  .TextH1B{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
  }
  .TextH2{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }
  .TextH3{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
  }
  .TextH4{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
  .TextH5{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
  }
  .TextH6{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  .TextP{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
  .TextStrong{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }
  .TextSmall{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
  .TextVerySmall{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
  }
}
/***** Text End *****/
/***** Stenci *****/
.StencilH1{
  font-family: "StandardCTStencil-Bold", sans-serif;
  font-style: normal;
  font-size: 55px;
  line-height: 65px;
}
.StencilH2{
  font-family: "StandardCTStencil-Bold", sans-serif;
  font-style: normal;
  font-size: 35px;
  line-height: 42px;
}
.StencilH3{
  font-family: "StandardCTStencil-Bold", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
}
.StencilH4{
  font-family: "StandardCTStencil-Bold", sans-serif;
  font-style: normal;
  font-size: 28px;
  line-height: 33px;
}
.StencilH5{
  font-family: "StandardCTStencil-Bold", sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 31px;
}
.StencilH6{
  font-family: "StandardCTStencil-Bold", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}
.StencilP{
  font-family: "StandardCTStencil-Bold", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}
.StencilStrong{
  font-family: "StandardCTStencil-Bold", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}
.StencilSmall{
  font-family: "StandardCTStencil-Bold", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}
.StencilVerySmall{
  font-family: "StandardCTStencil-Bold", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}
@media screen and (max-width: 577.5px) {
  .StencilH1{
    font-style: normal;
    font-size: 35px;
    line-height: 42px;
  }
  .StencilH2{
    font-style: normal;
    font-size: 31px;
    line-height: 37px;
  }
  .StencilH3{
    font-style: normal;
    font-size: 28px;
    line-height: 33px;
  }
  .StencilH4{
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
  }
  .StencilH5{
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
  }
  .StencilH6{
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
  }
  .StencilP{
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
  }
  .StencilStrong{
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
  }
  .StencilSmall{
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
  }
  .StencilVerySmall{
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
  }
}
/***** Stenci End *****/

