/*****Move*****/
.move {
  &__image_wrap {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__image {
    margin-top: -128px;
  }
}
@media screen and (max-width: 1100.5px) {
  .move__image {
    margin-top: 0;
  }
}
@media screen and (max-width: 768.5px) {
  .move__image {
    margin-bottom: 32px;
  }
}
/*****Move End*****/
/*****Location*****/
.location {
  padding: 38px 0;
  background: url("../img/location/location-bg.jpg") no-repeat center center/cover;
  &__nav {
    margin-left: auto;
    padding: 32px;
    max-width: 642px;
    background: $dark;
  }
  &__nav_title {
    color: $light;
  }
  &__nav_description {
    color: $light;
    margin-bottom: 32px;
  }
  &__swiper-container {
    margin-bottom: 32px;
    position: relative;
  }
  &__swiper-slide-link {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    transition: .35s;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5) url("../img/location/slider/search.svg") no-repeat center center;
      position: absolute;
      top: 0;
      left: 0;
      transition: .35s;
      opacity: 0;
    }
    &:hover.location__swiper-slide-link::after {
      transition: .35s;
      opacity: 1;
    }
  }
  &__slider_button_wrap {
    width: 67px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__btn {
    margin: 0 auto;
  }
  &__btn-mobile {
    display: none;
    margin: 0 auto;
  }
}
@media screen and (max-width: 577.5px) {
  .location {
    padding: 38px 0 16px;
  }
  .location__swiper-wrapper {
    margin-bottom: 16px;
  }
  .location__btn {
    display: none;
  }
  .location__nav {
    padding: 16px;
    margin-bottom: 151px;
  }
  .location__swiper-container {
    margin-bottom: 0;
  }
  .location__btn-mobile {
    display: block;
  }
}
/*****Location End*****/

/*****Timetable-desktop*****/
.timetable {
  margin-bottom: 64px;
  &__description {
    margin-bottom: 32px;
  }
}
.date {
  &__slider {
    max-width: 231px;
    position: relative;
    margin: 0 auto 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__swiper-slide-text {
    text-align: center;
  }
  &__slider_button {
    width: 16px;
    height: 14px;
    position: absolute;
    top: 50%;
    outline: none;
    cursor: pointer;
  }
  &__button-prev {
    left: 0;
    transform: translate(-100%, -50%);
    z-index: 2;
  }
  &__button-next {
    right: 0;
    transform: translate(100%, -50%);
    z-index: 2;
  }
}

.table {
  &__title {
    font-family: "Tele2DisplaySerif-Bold", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 44px;
    color: $secondary1;
    padding-bottom: 48px;
  }
  &__head {
    margin-bottom: 48px;
  }
  &__body_item {
    padding-bottom: 48px;
  }
  &__body_item-time {
    padding-bottom: 48px;
    font-family: Tele2TextSans-Bold,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
  }
  &__body_item-event {
    font-family: "Tele2TextSans-Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 45px;
  }
  &__title_time {
    width: 28%;
  }
  &__title_event {
    width: 44%;
  }
  &__title_location {
    width: 27%;
  }
  &__link {
    display: flex;
    align-items: center;
    color: $dark;
    transition: .35s;
    &:hover {
      color: $secondary1;
      transition: .35s;
    }
  }
  &__icon {
    min-width: 30px;
    height: 30px;
    margin-right: 16px;
  }
  &__address {
    font-family: "Tele2TextSans-Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 45px;
  }

}
.st-key {
  font-family: "Tele2DisplaySerif-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 44px;
  color: $secondary1;
  padding-bottom: 48px;
  padding-right: 32px;
}
@media screen and (max-width: 900.5px){
  .table__body_item-time {
    font-family: Tele2TextSans-Regular,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
  }
}
@media screen and (max-width: 768.5px) {
  .st-key {
    text-align: left;
    width: 20%;
    padding-bottom: 32px;
  }
  .st-val {
    width: auto;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 700.5px) {
  .st-key {
    font-size: 25px;
  }
  .st-val {
    font-size: 25px;
  }
  .table__address {
    font-size: 25px;
  }
}
@media screen and (max-width: 577.5px) {
  .st-key {
    font-size: 18px;
  }
  .st-val {
    font-size: 20px;
  }
  .table__address {
    font-size: 20px;
  }
}


/*****Timetable-desktop End*****/

/*****Speakers*****/
.speakers {
  background: $dark;
  transform: skewY(-4deg);
  width: 100%;
  padding: 118px 0;
  margin-bottom: 64px;
  >.container-fluid {
    transform: skewY(4deg);
  }
  &__title {
    color: $light;
  }
  &__description {
    color: $light;
  }
  &__slider {
    position: relative;
    width: 100%;
  }
  &__slide {
    background: $light;
  }
  &__slide_image {
  }
  &__slide_desc_wrap {
    background: $light;
    padding: 32px;
  }
  &__slide_title {
    margin-bottom: 8px;
    color: $dark;
  }
  &__slide_description {
    margin-bottom: 16px;
    color: $secondary1;
  }
  &__slide_btn {
    margin: 0 auto;
  }
  &__slider_button {
    width: 40px;
    height: 51px;
    position: absolute;
    top: 50%;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-size: 60px;
    }
  }
  &__button-prev {
    left: -25px;
    transform: translate(-100%, -50%);
    z-index: 2;
  }
  &__button-next {
    right: -25px;
    transform: translate(100%, -50%);
    z-index: 2;
  }
}
/*****Speakers End*****/
/*****Recommend*****/
.recommend {
  &__item {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
    margin-bottom: 32px;
  }
  &__item_desc_wrap {
    padding: 32px;
  }
  &__item_title {
    margin-bottom: 16px;
  }
  &__item_description {
    margin-bottom: 16px;
  }
  &__contacts_item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }
  &__contacts_icon {
    width: 12px;
    height: 12px;
    margin-right: 16px;
  }
  &__contacts_text {
    color: $dark;
    text-decoration-line: underline;
  }
  &__contacts_link {
    transition: .35s;
    &:hover {
      color: $secondary1;
      transition: .35s;
    }
  }
}
/*****Recommend End*****/

/*****FAQ*****/
.faq {
  padding: 64px 0 0;
  &__item {
    padding: 32px;
    margin-bottom: 32px;
    background: $dark;
    transition: .5s;
  }
  &__item-active {
    background: $secondary1;
    transition: .5s;
  }
  &__item_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  &__item_title {
    color: $light;

  }
  &__item_description {
    margin-top: 32px;
    color: $dark;
    display: none;
  }
  &__item_description-active {
    display: block;

  }
}
.icon-faq-arrow-icon {
  width: 14px;
  height: 7px;
  border: 1px solid #fff;
  position: relative;
}
.icon-faq-arrow-icon:before {
  content: "\e902";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 55555;
  font-size: 25px;
}
.icon-faq-arrow {
  color: $light;
  font-size: 10px;
  transform: rotate(180deg);
  transition: .35s;
}
.icon-faq-arrow-active {
  transform: rotate(360deg);
  transition: .35s;
  color: $dark;
}
/*****FAQ End*****/





