.section {
  padding: 64px 0;
  &__title {
    margin-bottom: 32px;
  }
  &__description {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 577.5px) {
  .section {
    padding: 16px 0;
  }
  &__title {
    margin-bottom: 16px;
  }
  &__description {
    margin-bottom: 16px;
  }
}
/*****Header*****/
.header {
  padding-top: 16px;
  background: $dark;
  min-height: 100vh;
  &__logo {
    width: 159px;
    height: auto;
    //padding: 13px 0;
    display: block;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      display: block;
    }

  }
}


.main-nav {
  display: block;
  max-height: 90vh;
  overflow-y: auto;

}
.main-nav:after {
  clear: both;
  content: "\00a0";
  display: block;
  height: 0;
  font: 0px/0 serif;
  overflow: hidden;
}

#main-menu-state:checked~#main-menu {
  display: block;
}
#main-menu {
  display: block;
  clear: both;
  li {
    display: flex;
    align-items: center;
  }
}
.sm::after {
  content: "";
  display: block;
  height: 0;
  font: 0/0 serif;
  clear: both;
  overflow: hidden;
}
.sm-clean li:last-child {
  a {
    border-bottom: none;
  }
}

@media (min-width: 1100px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-nav:after {
    display: none;
  }
  #main-menu {
    display: flex!important;
    max-width: 859px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    //float: right;
    //clear: none;
  }
  .sm::after {
    content: "";
    display: none;
    height: 0;
    font: 0/0 serif;
    clear: both;
    overflow: hidden;
  }
  #main-menu-state:checked~#main-menu {
    display: flex!important;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
.nav-brand {
  float: left;
}
/* Mobile menu toggle button */

.main-menu-btn {
  float: right;
  margin: 28px 10px;
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  text-indent: 29px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: $light;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}

.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}


/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
  display: none;
}

#main-menu-state:checked ~ #main-menu {
  display: block;
}

@media (min-width: 1100px) {
  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }
  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: block;
  }
}

@media screen and (max-width: 1100.5px) {
  .header {
    padding-top: 0;
  }
}
@media screen and (max-width: 577.5px) {
  .header__logo {
    width: 66px;
    height: 36px;
    margin-top: 3px;
  }
  .main-menu-btn {
    margin: 7px 10px;
  }
}
/*****Header End*****/
/*****Main-Screen*****/
.main-screen {
  background: $dark;
  padding: 32px 0 32px;
  &__video_wrapper {
    width: 100%;
    position: relative;
  }
  &__video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__video__btn {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: $secondary1;
    opacity: 0.85;
    position: absolute;
    outline: none;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      content: "";
      display: block;
      width: 61px;
      height: 69px;
      background: url("../img/main-screen/video-play.svg") no-repeat center center/ cover;
    }
  }
  &__form {
    position: relative;
    height: 100%;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -3%;
      width: 1px;
      height: 100%;
      background: $light;
    }
  }
  &__form_description {
    margin-bottom: 25px;
    color: $light;
  }
  &__form_title {
    color: $light;
    margin-bottom: 6px;
  }
  &__form_input {
    padding: 8px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid $light;
    background: transparent;
    margin-bottom: 32px;
    color: $light;
    &::placeholder {
      font-family: "Tele2Text-Regular",sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 23px;
      line-height: 1.6;
      color: $dark_7;
    }
  }
  &__form_btn {
    border: none;
    margin: 0 auto;
  }
  &__form_second {
    display: flex;
    align-items: center;
    height: inherit;
  }
  &__form_input-second {
    margin-bottom: 16px;
  }
  &__form_second_wrap {
    height: fit-content;
    margin-bottom: 32px;
  }
  &__form_third-slogan-wrap {
    margin-bottom: 32px;
  }
  &__form_third-slogan {
    margin-bottom: 8px;
  }
  &__form_questions_title {
    margin-bottom: 32px;
    color: $light;
  }
  &__form_description {
    margin-bottom: 32px;
    color: $light;
  }
  &__form_questions-wrap {
    margin-bottom: 32px;
  }
  &__form_questions_label {
    width: 100%;
    padding: 8px;
    background: $light;
    border-radius: 30px;
    margin-bottom: 16px;
    outline: none;
    border: none;
    text-align: center;
    color: $dark;
    cursor: pointer;
    transition: .35s;
    &:hover {
      background: $secondary1;
      transition: .35s;
    }
    &::placeholder {
      color: $dark;
    }
  }
  &__form_questions_input {
    position: absolute;
    left: 0;
    visibility: hidden;
  }
  &__form_btn-questions {
    width: 219px;
  }
  &__form_questions_image {
    margin-bottom: 32px;
  }
  &__form_final_title {
    color: $light;
    margin-bottom: 32px;
  }
  &__form_final_skill {
    color: $secondary4;
    text-align: center;
    margin-bottom: 32px;
  }
  &__form_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  &__form_link {
    a {
      width: 100%;
      display: block;
      color: $light;
      transition: .35s;
      &:hover {
        color: $secondary1;
        transition: .35s;
      }
    }
  }
  &__google-play {
    max-width: 132px;
    order: 1;
  }
  &__app-store {
    max-width: 124px;
  }
  &__telegram {
	color: #ffffff;
    width: 119px;
    text-align: center;
    order: 2;
  }
}
.main-screen__form_questions_label>input:checked+span {
  color: $secondary2;
}
.purple {
  color: $secondary3;
}
.red {
  color: $secondary2;
}
.yellow {
  color: $secondary1;
}
.green {
  color: $secondary5;
}
.pink {
  color: $secondary4;
}
@include laptop {
  .main-screen__form {
    &:after {
      display: none;
    }
  }
  .main-screen__video_wrapper {
    margin-bottom: 32px;
  }
  .main-screen__form {
    margin: 0 auto;
    max-width: 600px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 420.5px){
  .main-screen__form_links {
    flex-wrap: wrap;
  }
  .main-screen__google-play {
    max-width: 132px;
    order: 2;
  }
  .main-screen__telegram {
    order: 1;
  }
  .main-screen__telegram {
    width: 100%;
    margin-bottom: 16px;
  }
}
/*****Main-Screen End*****/